{% trans_default_domain 'FOSUserBundle' %}

<div class="container">
    <h2 class="form-signin-heading">{{ 'form.edit.title'|trans({}, 'FOSUserBundle') }}</h2>

    {{ form_start(form, { 'action': path('fos_user_profile_edit'), 'attr': { 'class': 'fos_user_profile_edit' } }) }}
        {{ form_widget(form) }}
        <div>
            <input type="submit" class="btn btn-lg btn-primary pull-right" value="{{ 'profile.edit.submit'|trans }}" />
        </div>
    {{ form_end(form) }}
</div>
