{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">

      <div class="col-sm-12 blog-main col-lg-12">
        {% for article in articles %}
        <article class="post-wrap">
            <a href="{{ path('blogarticle_show',{'id':article.id}) }}" title="{{ article.title }}">
                <div class="featured-media" style="background-image: url('{{ asset("images/"~article.image) }}'); padding-top: 0px;"></div>
            </a>
            <div class="post-content">
                <h2 class="post-title">
                    <a href="{{ path('blogarticle_show',{'id':article.id}) }}">{{ article.title }}</a>
                </h2>
                <div class="post-entry">
                    <p>{{ article.content|striptags|truncate(50, true) }}</p>
                </div>
                <div class="post-permalink">
                    <a href="{{ path('blogarticle_show',{'id':article.id}) }}" class="hvr-sweep-to-right">Voir l'article</a>
                </div>
                <div class="post-meta">
                    <span class="author">
                        <i class="fa fa-user"></i>
                        {{ article.user.username }}
                    </span>
                    <span class="date">
                        <i class="fa fa-calendar-o"></i>
                        {{ article.dateAdd|date("d/m/Y") }}
                    </span>
                    <span class="comment">
                        <i class="fa fa-comment-o"></i>
                        <a href="{{ path('blogarticle_show',{'id':article.id}) }}#posts">{{ article.posts|length }} Comments</a>
                    </span>
                </div>
            </div>
        </article>
        {% endfor %}
        {#
        <nav aria-label="Page navigation">
          <ul class="pagination">
            <li>
              <a href="#" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
              </a>
            </li>
            <li class="active"><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li>
              <a href="#" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
              </a>
            </li>
          </ul>
        </nav>
        #}

      </div><!-- /.blog-main -->

    </div><!-- /.row -->
{% endblock %}

