
$global-font: "Helvetica Neue", Helvetica, Arial, sans-serif;
$global-color: #555;
$global-footer-color: #FFF;
$global-link-color: #0D3349;


/* Posts */
$post-yellow-first: #e7c44b;
$post-yellow-second: #eee999;
$post-green-first: #5d8b81;
$post-green-second: #89d1c3;
