@import '_variables.scss';
@import '_mixins.scss';

html, body {
  font-family: $global-font;
  color: $global-color;
  margin:0;
  padding:0;
}

.global-content{
    margin-top: 15px;
}

.container{
  @media (min-width: 800px){
    width: 970px;
  }
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  margin-top: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
  color: #333;
}

a {
  color: $global-link-color;
  outline: none;

  &:hover {
    text-decoration: none;
  }

  &:active, &:focus, img {
    outline: none;
    text-decoration: none;
  }
}

iframe {
  display: block;
  border: 0;
}

.btn{
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  padding: 7px 18px;
  -webkit-transition: all 0.45s;
  -moz-transition: all 0.45s;
  -ms-transition: all 0.45s;
  -o-transition: all 0.45s;
  transition: all 0.45s;
}

.btn-default {
  background: $global-link-color;
  color: #ffffff;
  border: none;

  &:hover, &:focus, &:active {
    background: #122b40;
    outline: none;
    color: #ffffff;
  }

  &:active:focus {
    outline: none;
  }
}


input[type='text'],
input[type='email'] {
  padding: 4px 14px;
  border: 1px solid #828282;
}
input[type='text']:focus,
input[type='email']:focus {
  border: 1px solid #8bc34a;
  outline: none;
}
blockquote {
  font-family: 'Droid Serif', serif;
  text-align: center;
  border-left: 0;
  border-top: 1px solid #f0f0f0;
  border-bottom: 1px solid #f0f0f0;
  margin: 24px 0;
  padding: 30px;
  font-style: italic;
  line-height: 1.6em;
  font-weight: 400;
}
cite {
  font-size: 14px;
}
cite:before {
  content: "\2014";
  margin-right: 4px;
}
pre {
  padding: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  border: none;
}
::-moz-selection {
  text-shadow: none;
}
::selection {
  text-shadow: none;
}

.blog-masthead {
  background-color: #020516;
  -webkit-box-shadow: inset 0 -2px 5px rgba(0,0,0,.1);
          box-shadow: inset 0 -2px 5px rgba(0,0,0,.1);
}

.blog-main {
  font-size: 18px;
  line-height: 1.5;
}

/*
  Head of the blog
 */

.blog-header {
  padding-top: 20px;
  padding-bottom: 20px;
}

.blog-title{

  margin-left: 50px;
  font-weight: normal;
  color:#fff;

  @media (min-width: 800px){
    margin-top: 30px;
    font-size: 60px;
  }

  @media screen and (max-width: 800px) {
    font-size: 45px;
  }

  @media only screen and (max-width : 320px) {
    font-size: 20px;
  }

  @media screen and (max-width: 500px){
    font-size: 20px;
  }
}

.blog-description{

  margin-left: 75px;
  color: #999;

  @media (min-width: 800px) {
    font-size: 20px;
  }

  @media screen and (max-width: 800px) {
    font-size: 20px;
  }

  @media only screen and (max-width : 320px) {
    font-size: 12px;
  }

  @media screen and (max-width: 500px){
    font-size: 12px;
  }
}

.parallax {
    min-height: 350px;
    width:100%;
    background: transparent;
    position:relative;
}

/* Nav links */
.blog-nav-item {
  position: relative;
  display: inline-block;
  padding: 10px;
  font-weight: 500;
  color: #cdddeb;
}
.blog-nav-item:hover,
.blog-nav-item:focus {
  color: #fff;
  text-decoration: none;
}

/* Active state gets a caret at the bottom */
.blog-nav .active {
  color: #fff;
}
.blog-nav .active:after {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 0;
  margin-left: -5px;
  vertical-align: middle;
  content: " ";
  border-right: 5px solid transparent;
  border-bottom: 5px solid;
  border-left: 5px solid transparent;
}

.blog-nav ul li{
  padding:0;
  margin:0;
}

.navbar {
  min-height: 72px;
  margin-bottom: 0;
  border: none;
  -webkit-box-shadow: 1px 1px 4px #d0d0d0;
  -moz-box-shadow: 1px 1px 4px #d0d0d0;
  box-shadow: 1px 1px 4px #d0d0d0;
}

.navbar-default {
  background-color: #ffffff;

  .navbar-brand {
    height: 72px;
    font-size: 24px;
    line-height: 42px;
    color: #262626;

    &:hover {
      color: #262626;
    }

    img {
      max-height: 44px;
    }
  }

  .navbar-collapse {
    border-color: #f0f0f0;
  }

  .navbar-nav {
    padding-top: 16px;
  }

  .navbar-nav > li {
    margin-right: 48px;

    &:last-child {
      margin-right: 0;
    }

    .current-menu-item > a {
      color: $global-link-color;
      background: none;

      &:hover {
        color: $global-link-color;
        background: none;
      }
    }
  }

  .navbar-nav > li > a {
    color: $global-link-color;
    padding: 0;
    line-height: 40px;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 1px;

    &:hover {
      color: $global-link-color;
    }
  }
}

.navbar-nav > li > a {
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
}

.navbar-nav > li > a:hover {
  color: #020516;
}

.navbar-nav > li > label {
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 0px;
  color: white;
}

.cover-wrap {
  background-color: #8bc34a;
  background-position: center;
  background-size: cover;
  color: #ffffff;
  text-align: center;

  .overlay {
    background: rgba(0, 0, 0, 0.3);
    padding-top: 119px;
    padding-bottom: 119px;

    .no-image .overlay {
      background: transparent;
    }
  }

  h1 {
    font-weight: 700;
    font-size: 49px;
    color: #ffffff;
    margin-top: 0;
  }

  .description {
    font-size: 16px;
  }
}

/*
 * Global content
 */

.main-content-wrap {
  padding-top: 70px;
}

.post-wrap{
  margin-bottom: 30px;
  background: #ffffff;
  position: relative;
  -webkit-box-shadow: 1px 1px 4px #d0d0d0;
  -moz-box-shadow: 1px 1px 4px #d0d0d0;
  box-shadow: 1px 1px 4px #d0d0d0;
  overflow: hidden;

  .featured{
    position: absolute;
    top: -30px;
    left: -30px;
    width: 60px;
    height: 60px;
    background: #8bc34a;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    z-index: 9;
  }

  .featured:before {
    content: '\f006';
    font-family: FontAwesome;
    position: absolute;
    right: 12px;
    bottom: 6px;
    color: #ffffff;
    font-size: 12px;
  }

  .featured-media {
    position: absolute;
    width: 260px;
    height: 100%;
    margin-right: 32px;
    background-size: cover;
    background-position: center;

    img{
      width: 100%;
    }

    .media-embeded {
      background: #000000;
    }

    iframe {
      max-height: 100%;
      vertical-align: middle;
    }

    @media screen and (max-width: 767px){
      position: relative;
      width: 100%;
      height: 350px;
    }

    @media screen and (max-width: 479px){
      height: 250px;
    }

    .media-embeded {
      @media screen and (max-width: 767px) {
        height: auto;
      }
    }
  }

  .post-content {
    padding: 32px 32px 32px 292px;

    .no-media {
      padding: 32px;
    }

    h2.post-title{
      margin-top: 0;
      margin-bottom: 14px;
      font-size: 24px;
      a {
        color: #262626;
      }
    }

    .post-permalink {
      margin-top: 14px;
      margin-bottom: 14px;

      a {
        padding:10px;
        font-family: 'Droid Serif', serif;
        color: #828282;
        font-style: italic;
      }

      a:hover {
        color: #FFF;
      }
    }

    .post-meta {
      font-size: 12px;
      letter-spacing: 0.5px;

      span {
        margin-right: 10px;
        white-space: nowrap;

        i {
          margin-right: 2px;
          letter-spacing: 0px;
        }

        a {
          color: #828282;
        }
      }

      span:last-child {
        margin-right: 0;
      }
    }

    .post-entry{
      @media screen and (min-width: 768px){
        max-height: 72px;
        overflow: hidden;
      }
    }

    @media screen and (max-width: 767px){
      padding: 32px;
    }
  }
}

.pagination-wrap {
  background: #ffffff;
  padding: 30px;
  -webkit-box-shadow: 1px 1px 4px #d0d0d0;
  -moz-box-shadow: 1px 1px 4px #d0d0d0;
  box-shadow: 1px 1px 4px #d0d0d0;
  margin-bottom: 30px;

  .pagination {
    display: block;
    min-height: 24px;
    margin: 0;
    text-align: center;
    position: relative;
    font-family: 'Droid Serif', serif;
    font-style: italic;

    .newer-posts {
      position: absolute;
      left: 0;
      top: 0;
    }

    .older-posts {
      position: absolute;
      right: 0;
      top: 0;
    }

    a {
      color: #828282;
      font-style: italic;
    }

    a:hover {
      color: #FFF;
    }
  }
}



/*
 * Footer of the blog
 */

.blog-footer {
  padding: 40px 0;
  color: $global-footer-color;
  text-align: center;
  background-color: #020516;
  border-top: 1px solid #2c2928;

  a{
    color:#FFF;
  }

  a:hover{
    color: $post-green-second;
  }

  p:last-child {
    margin-bottom: 0;
  }

  ul.blog-social{
    padding:0;
    display:block;
    list-style: none;
  }

  ul.blog-social li{
    display:inline-block;
  }
}