{% extends 'BlogBundle::admin.layout.html.twig' %}

{% block body %}
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

        {{ form_start(form) }}
        <h2 class="form-signin-heading">{{ 'form.add.title'|trans({}, 'article') }}</h2>
        {{ form_widget(form) }}
        <a href="{{ path('blogarticle_index') }}" class="btn btn-info pull-left" role="button">{{ 'form.edit.back'|trans({}, 'article') }}</a>
        <input type="submit" value="Valider"
                   class="btn btn-success pull-right" />
        {{ form_end(form) }}

    </div>
{% endblock %}
