{% extends 'BlogBundle::admin.layout.html.twig' %}

{% block body %}
    <div class="container">
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

        {{ form_start(edit_form) }}
            <h2 class="form-signin-heading">{{ 'form.edit.title'|trans({}, 'article') }}</h2>
            {{ form_widget(edit_form) }}
            <div class="article-image">
                <img src="{{ asset('images/'~ article.image) }}" width="150px"/>
            </div>
            {{ form_widget(edit_form.image,{'attr':{'class':'file-loading'}}) }}
            <a href="{{ path('blogarticle_index') }}" class="btn btn-info pull-left" role="button">{{ 'form.edit.back'|trans({}, 'article') }}</a>
            <input type="submit" value="Valider"
                       class="btn btn-success pull-right" />
        {{ form_end(edit_form) }}

        </div>
    </div>
{% endblock %}
