{% extends 'BlogBundle::admin.layout.html.twig' %}

{% block body %}
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        <a href="{{ path('blogarticle_new') }}" id="user_button_add" class="btn btn-success pull-right"><span class="glyphicon glyphicon-plus"></span> {{ 'article.button.add'|trans({}, 'article') }}</a>
        <h2 class="sub-header">Articles list</h2>
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Title</th>
                        <th>Dateupd</th>
                        <th>Dateadd</th>
                        <th>Enable</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                {% for article in articles %}
                    <tr>
                        <td><a href="{{ path('blogarticle_show', { 'id': article.id }) }}">{{ article.id }}</a></td>
                        <td>{{ article.title }}</td>
                        <td>{% if article.dateUpd %}{{ article.dateUpd|date('Y-m-d H:i:s') }}{% endif %}</td>
                        <td>{% if article.dateAdd %}{{ article.dateAdd|date('Y-m-d H:i:s') }}{% endif %}</td>
                        <td>{% if article.enable %}Yes {% else %}No{% endif %}</td>
                        <td>
                            <a href="{{ path('blogarticle_edit', {'id': article.id }) }}"><span class="glyphicon glyphicon-cog"></span></a>
                            <a href="{{ path('blogarticle_delete', {'id': article.id}) }}"><span class="glyphicon glyphicon glyphicon-minus" style="color:red"></span></a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
