{% extends 'base.html.twig' %}
{% block title %}
    {{ article.title }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets filter="compass"
    "@BlogBundle/Resources/assets/scss/article/article.scss"
    %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block body %}
    <div class="article-row row">
        <h1>{{ article.title }}</h1>
        <div class="col-lg-12">
            <img src="{{ asset("images/"~article.image) }}" width="100%"/>
        </div>
        <div class="article-content">
            {{ article.content|raw }}
        </div>
        <a class="twitter-share-button" href="https://www.twitter.com/intent/tweet?{{ article.title|raw }}">
            Tweet
        </a>
        <hr>
        <h2>Commentaire(s)</h2>
        <ul class="article-posts">
            {% for post in article.posts %}
                <li>
                    <span class="article-posts-title">{% if post.user != '' %} {{ post.user }} {% else %} {{ post.name }} {% endif %}</span>
                    <span class="article-posts-date">Le {{ post.dateAdd|date('d-m-Y') }}</span>
                    <div class="article-posts-content">{{ post.comment }}</div>
                    <hr>
                </li>
            {% endfor %}
        </ul>
        <div class="col-sm-9 col-md-12 article-posts-add">
            {{ form_start(create_post) }}
                {{ form_widget(create_post) }}
                <input type="submit" value="Valider"
                           class="btn btn-success btn-block" />
            {{ form_end(create_post) }}
        </div>

        <ul class="article-bottom-links">
            <li>
                <a href="{{ path('blog_home_index') }}" class="btn btn-info">Back to the list</a>
            </li>
        </ul>
    </div>
{% endblock %}
