<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
            {% stylesheets filter="compass"
            "@BlogBundle/Resources/assets/scss/global.scss"
            %}
                <link rel="stylesheet" href="{{ asset_url }}" />
            {% endstylesheets %}
            {% stylesheets
                "@BlogBundle/Resources/assets/css/*"
                "@BlogBundle/Resources/assets/css/admin/*"
                filter='cssrewrite' output='css/app_admin.css' %}
                <link rel="stylesheet" href="{{ asset_url }}" />
            {% endstylesheets %}

        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

    </head>
    <body>
        {% block nav %}{% endblock %}
        {% block body %}{% endblock %}
        {% block footer %} {% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
