<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        {% block stylesheets %}
            {% stylesheets filter="compass"
            "@BlogBundle/Resources/assets/scss/global.scss"
            %}
                <link rel="stylesheet" href="{{ asset_url }}" />
            {% endstylesheets %}
            {% stylesheets
                "https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
                "@BlogBundle/Resources/assets/css/front/*"
                "@BlogBundle/Resources/assets/css/*"
                filter='cssrewrite' output='css/app.css' %}
                <link rel="stylesheet" href="{{ asset_url }}" />
            {% endstylesheets %}

            <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        {% endblock %}


    </head>
    <body>

        {% block nav %}
            <div class="blog-masthead">
              <div class="container">
                <nav class="blog-nav">
                  <a class="blog-nav-item active" href="{{ url('blog_home_index') }}">Home</a>
                  <a class="blog-nav-item" href="#">About Me</a>
                  <!--<ul class="nav navbar-nav navbar-right">
                    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                        <li>
                            <label>{{ app.user.username }}</label>
                        </li>
                        <li>
                            <a href="{{ path('bloguser_list_index') }}">
                                {{ 'navbar.admin'|trans({}, 'BlogBundle') }}
                            </a>
                        </li>
                        <li id="logout">
                            <a href="{{ path('fos_user_security_logout') }}">
                                {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                            </a>
                        </li>
                    {% else %}
                        <li id="nav-signup"><a href="#" data-toggle="modal" data-target="#registration"><span class="glyphicon glyphicon-user"></span> {{ 'nav.signup'|trans({}, 'FOSUserBundle') }}</a></li>
                        <li id="nav-login"><a href="{{ url('fos_user_security_login') }}"><span class="glyphicon glyphicon-log-in"></span> {{ 'nav.login'|trans({}, 'FOSUserBundle') }}</a></li>
                    {% endif %}
                  </ul>-->
                </nav>
              </div>
            </div>
            {% if app.request.hasPreviousSession %}
                {% for type, messages in app.session.flashbag.all() %}
                    {% for message in messages %}
                        <div class="flash-{{ type }}">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endfor %}
            {% endif %}
        {% endblock %}
        <section>
            <div class="parallax" data-parallax-img="/images/parrallax-image.jpg" data-parallax-img-width="1500" data-parallax-img-height="844">&nbsp
                <div class="blog-header">
                  <h1 class="blog-title">Web Developpement Blog</h1>
                  <p class="blog-description">#Back-end #Front-end #Discover #Share</p>
                </div>
            </div>
        </section>
        <section>
            <div class="container global-content">

                {% block body %}{% endblock %}
                <!-- Button trigger modal -->
            </div>
        </section>
        <!-- Button trigger modal -->

        <section>
            {{ render(controller("BlogUserBundle:User:registrationForm")) }}
        </section>
        {% block footer %}
            <footer class="blog-footer">
                <p>Blog propulsé par <strong>Maxime Hallé</strong> avec l'aide de <img src="{{ asset('bundles/blog/icons/symfony.png') }}" width="40px"/></p>
              <ul class="blog-social">
                  <li>
                    <a href="https://www.instagram.com/maxime_halle/" target="_blank"><img src="{{ asset('bundles/blog/icons/insta.ico') }}" width="50px"/></a>
                  </li>
                  <li>
                    <a href="https://www.linkedin.com/in/maxime-hall%C3%A9-451924135/" target="_blank"><img src="{{ asset('bundles/blog/icons/linkedin.ico') }}" width="50px"/></a>
                  </li>
                  <li>
                    <a href="https://twitter.com/maximehal" target="_blank"><img src="{{ asset('bundles/blog/icons/twitter.ico') }}" width="50px"/></a>
                  </li>
                  <li>
                    <a href="https://plus.google.com/u/0/107504613501867093361" target="_blank"><img src="{{ asset('bundles/blog/icons/google.ico') }}" width="50px"/></a>
                  </li>
              </ul>
                <p>&copy; <a href="https://gitlab.com/mhalle"><strong>Maxime Hallé</strong></a></p>
            </footer>
        {% endblock %}

        {% block javascripts %}
            {% javascripts
                'https://cdnjs.cloudflare.com/ajax/libs/vue/2.3.4/vue.min.js'
                'http://code.jquery.com/jquery-2.1.4.min.js'
                '@BlogBundle/Resources/assets/js/parallax.js'
                'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js'
                '@BlogBundle/Resources/assets/js/main.js' %}
                <script src="{{ asset_url }}"></script>
             {% endjavascripts %}
        {% endblock %}
    </body>
</html>
