{% trans_default_domain 'FOSUserBundle' %}
<div class="container">
    <div class="row col-md-12">
        {{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register form_registration'}}) }}
            <h2>{{ 'registration.form.title'|trans }}</h2>
            {{ form_widget(form) }}
            <div>
                <button class="btn btn-lg btn-primary btn-block" type="submit" id="_submit" name="_submit">{{ 'registration.submit'|trans }}</button>
            </div>
        {{ form_end(form) }}
    </div>
</div>
