{% extends 'BlogBundle::admin.layout.html.twig' %}

{% form_theme form 'bootstrap_3_layout.html.twig' %}

{% block body %}
    <div class="container">
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            {{ form_start(form) }}
                <h2 class="form-signin-heading">{{ 'form.edit.title'|trans({}, 'user') }}</h2>
                {{ form_widget(form) }}
                <a href="{{ path('bloguser_list_index') }}" class="btn btn-info pull-left" role="button">{{ 'form.edit.back'|trans({}, 'user') }}</a>
                <input type="submit" value="Valider"
                       class="btn btn-success pull-right" />
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}