{% extends 'BlogBundle::admin.layout.html.twig' %}
{% block body %}
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        <a href="{{ path('bloguser_add') }}" id="user_button_add" class="btn btn-success pull-right"><span class="glyphicon glyphicon-plus"></span> {{ 'user.button.add'|trans({}, 'user') }}</a>
        <h2 class="sub-header">Utilisateurs</h2>
        <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Username</th>
                  <th>Email</th>
                  <th>Actions</th>
                </tr>
              </thead>
              <tbody>
                {% for user in users %}
                    <tr>
                      <td>{{ user.id }}</td>
                      <td>{{ user.username }}</td>
                      <td>{{ user.email }}</td>
                      <td>
                          <a href="{{ path('bloguser_edit', {'userId': user.id}) }}"><span class="glyphicon glyphicon-cog"></span></a>
                          <a href="{{ path('bloguser_delete', {'userId': user.id}) }}"><span class="glyphicon glyphicon glyphicon-minus" style="color:red"></span></a>
                      </td>
                    </tr>
                {% endfor %}

                </tbody>
            </table>
        </div>
    </div>
{% endblock %}