{% trans_default_domain 'FOSUserBundle' %}



<div class="container">

    {% if error %}
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <div class="alert alert-danger">
              <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
          </div>
        </div>

    {% endif %}

  <form action="{{ path("fos_user_security_check") }}" class="form-signin" method="post">
    {% if csrf_token %}
        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
    {% endif %}

    <h2 class="form-signin-heading">{{ 'security.login.title'|trans }}</h2>
    <label for="inputEmail" class="sr-only">{{ 'security.login.username'|trans }}</label>
    <input type="text" class="form-control" id="username" name="_username" value="{{ last_username }}" required placeholder="Login" autofocus/>
    <label for="inputPassword" class="sr-only">{{ 'security.login.password'|trans }}</label>
    <input type="password" id="password" name="_password" class="form-control" placeholder="Password" required>
    <div class="checkbox">
      <label>
        <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
        <label for="remember_me">{{ 'security.login.remember_me'|trans }}</label>
      </label>
    </div>
    <button class="btn btn-lg btn-primary btn-block" type="submit" id="_submit" name="_submit">{{ 'security.login.submit'|trans }}</button>
  </form>

</div> <!-- /container -->