{% extends 'admin.base.html.twig' %}

{% block nav %}
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="{{ path('blog_home_index') }}">Blog</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li class=""><a href="{{ url('blog_home_adminindex') }}">Dashboard</a></li>
            <li><a href="{{ url('bloguser_profile_edit') }}">Profile</a></li>
            <li><a href="{{ url('fos_user_security_logout') }}">Déconnexion</a></li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            {#<li class="active"><a href="#">Overview <span class="sr-only">(current)</span></a></li>#}
            {% if is_granted('ROLE_SUPER_ADMIN') %}
                <li class="{% if(app.request.attributes.get('_route') starts with 'bloguser') %}active{% endif %}">
                    <a href="{{ url('bloguser_list_index') }}">Users</a>
                </li>
            {% endif %}
            <li class="{% if(app.request.attributes.get('_route') starts with 'blogarticle') %}active{% endif %}">
                <a href="{{ url('blogarticle_index') }}">Articles</a>
            </li>
            <li class="{% if(app.request.attributes.get('_route') starts with 'blogpost') %}active{% endif %}">
                <a href="{{ url('blogpost_index') }}">Posts</a>
            </li>
          </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          {% if app.request.hasPreviousSession %}
              {% for type, messages in app.session.flashbag.all() %}
                  {% for message in messages %}
                      <div class="alert alert-{{ type }}">
                          {{ message }}
                      </div>
                  {% endfor %}
              {% endfor %}
          {% endif %}
        </div>
{% endblock %}

{% block footer %}

  </div>
</div>

{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/bootstrap.min.js') }}"></script>
{% endblock %}