@import '../_variables.scss';

div.article-row h1{
  padding:0 15px;
  margin-bottom:25px;
}

.article-posts
{
  color:            #000;
  padding:          10px;
  margin:           10px 0;
  list-style-image: none;
  list-style-type:  none;
  list-style:       none;
}

.article-content{
  padding:15px 15px;
  margin-top:15px;
  display:inline-block;
}

span.article-posts-title{
  background-color: $post-yellow-first;
  padding: 10px;
  display: inline-block;
}

span.article-posts-date{
  background-color: $post-green-first;
  padding: 10px;
  color: #FFF;
  display: inline-block;
}

div.article-posts-content{
  background-color: $post-yellow-second;
  padding: 15px;
  margin-top: 5px;
  display: block;
}

div.article-posts-add{
  padding: 15px;
  margin-bottom: 15px;
}

ul.article-bottom-links{
  display: block;
  margin-top: 15px;
  padding: 0;
  list-style: none;
}