{% extends 'BlogBundle::admin.layout.html.twig' %}

{% block title %}BlogBundle:Post:editPost{% endblock %}

{% block body %}
    <div class="container">
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

        {{ form_start(edit_form) }}
            <h2 class="form-signin-heading">{{ 'form.edit.title'|trans({}, 'post') }}</h2>
            {{ form_widget(edit_form) }}
            <a href="{{ path('blogpost_index') }}" class="btn btn-info pull-left" role="button">{{ 'form.edit.back'|trans({}, 'post') }}</a>
            <input type="submit" value="Valider"
                       class="btn btn-success pull-right" />
        {{ form_end(edit_form) }}

        </div>
    </div>
{% endblock %}
