{% extends 'BlogBundle::admin.layout.html.twig' %}

{% block title %}BlogBundle:Post:index{% endblock %}

{% block body %}
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        <a href="{{ path('blogpost_add') }}" id="user_button_add" class="btn btn-success pull-right"><span class="glyphicon glyphicon-plus"></span> {{ 'post.button.add'|trans({}, 'post') }}</a>
        <h2 class="sub-header">Posts list</h2>
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Article</th>
                        <th>Post</th>
                        <th>Dateadd</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                {% if posts is defined %}
                    {% for post in posts %}
                        <tr>
                            <td><a href="{{ path('blogpost_edit', { 'id': post.id }) }}">{{ post.id }}</a></td>
                            <td>{{ post.article.title }}</td>
                            <td>{{ post.comment }}</td>
                            <td>{% if post.dateAdd %}{{ post.dateAdd|date('Y-m-d H:i:s') }}{% endif %}</td>
                            <td>
                                <a href="{{ path('blogpost_edit', {'id': post.id }) }}"><span class="glyphicon glyphicon-cog"></span></a>
                                <a href="{{ path('blogpost_delete', {'id': post.id}) }}"><span class="glyphicon glyphicon glyphicon-minus" style="color:red"></span></a>
                            </td>
                        </tr>
                    {% endfor %}
                {% endif %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
