<!-- Modal -->
<div class="modal fade" id="registration" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Registration</h4>
      </div>
      {{ form_start(registrationForm, {'attr': {'id' : 'registrationForm'}}) }}
        <div class="modal-body">
          <h2 class="form-signin-heading">{{ 'form.edit.title'|trans({}, 'user') }}</h2>
          <div class="alert alert-danger hide" id="registrationForm-flash"></div>
          {{ form_widget(registrationForm) }}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Save changes</button>
        </div>
       {{ form_end(registrationForm) }}
    </div>
  </div>
</div>